@keyframes moveInLeft{
    /* when the animation start */
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }

    // 60%{
    //     transform: rotate(120deg);
    // }

    80%{
        transform: translateX(1rem);
    }

    /* when the animation finish */
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }

    80%{
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveBehind{
    0%{
        opacity: 1;
    }
    60%{
        transform: rotateY(180deg);
    }
    100%{
        opacity: 1;
        transform: rotateY(180deg);
    }
}